<h3 id="pack-desc">{{packInfo.description}}</h3>
<img src={{packInfo.imgUrl}}>
<div id="pack-buttons" class="d-flex justify-content-between">
  <button type="button" class="btn btn-light" routerLink="/pack-view/{{packInfo.id}}">בחר</button>
  <div id="pack-icons">
    <mat-icon matRipple [matRippleRadius]="10" [matRippleUnbounded]="true" [matRippleColor]="fav ? '#b3b3b357' : '#ff757569'"
      (click)="addRemoveFavorite()" [ngStyle]="{'color': this.fav ? '#ff5454' : '#a0a0a0'}">favorite</mat-icon>
  </div>
</div>
