.btn {
  margin-left: 2px;
}

.btn-icon {
  margin-right: 5px;
}

#nav-buttons {
  margin: 5px 10px 5px 0px;
}

#log-in-buttons {
  width: 45%;
  display: flex;
  justify-content: flex-start;
}

.login-button {
  margin-right: 5vmin;
}

.sticky-top {
  z-index: 1000;
  margin-bottom: 5px;
  margin-top: -1px;
}

img {
  height: 4rem;
  margin: 5px;
}

#logo {
  /* margin: 10px 10px; */
  background-color: white;
  text-align: center;
  /* color: #fdcd00; */
}

h1 {
  letter-spacing: 1px;
  margin: 10px 15px;
}
