.btn {
  margin-left: 2px;
}

.btn-icon {
  margin-right: 5px;
}

#nav-buttons {
  margin: 5px 10px 5px 0px;
}

.sticky-top {
  z-index: 1000;
  margin-bottom: 5px;
}

img {
  height: 5rem;
  margin: 5px;
}

#logo {
  text-align: center;
}
