<div class="d-flex">
  <button type="button" class="btn btn-light" [disabled]="index == data.length" (click)="nextCard()">
    <mat-icon class="btn-icon">chevron_right
    </mat-icon>
  </button>

  <!-- <app-card class="card-pre-reveal" [cardContent]="selectedCard"> -->
  <app-card [ngClass]="{'card-pre-reveal': true, 'card-reveal': cardLoaded}"  [cardContent]="selectedCard" (loaded)="cardLoaded=true">
  </app-card>

  <button type="button" class="btn btn-light" [disabled]="index == 0" (click)="prevCard()">
    <mat-icon class="btn-icon">chevron_left</mat-icon>
  </button>

</div>
