<div *ngIf="pack" [transition-group]="'flip-list'" class="d-flex flex-row justify-content-center flex-wrap">
  <app-card
    [ngClass]="{'clickable': true, 'shuffle-item': true, 'item-hidden': true, 'item-reveal': loadedCards == pack.cards.length}"
    *ngFor="let card of pack.cards; let i = index" transition-group-item [cardContent]="card" [selected]="selectedCards.includes(card)"
    [index]="i+1" [flipped]="flipped" (click)="cardSelected(card, i+1)" (loaded)="cardLoaded()">
  </app-card>
</div>

<nav id="bottom-nav" *ngIf="loadedCards == pack.cards.length"
  class="nav navbar-light bg-light d-flex justify-content-between align-items-center">
  <div id="nav-buttons">
    <button type="button" class="option-btn" (click)="shuffle()">ערבב</button>
    <button type="button" class="option-btn" (click)="flipped = !flipped; selectedCards = []">הפוך חפיסה</button>
    <button type="button" class="option-btn" [disabled]="selectedCards.length == 0" (click)="openChosenCardsModal()">הצג
      קלפים שנבחרו</button>
    <button type="button" class="option-btn" (click)="selectedCards = []" [disabled]="selectedCards.length == 0">איפוס
      בחירה</button>
    <button type="button" class="option-btn" (click)="openRandomCardsModal()">הצג קלף אקראי</button>
  </div>
  <div id="amountChosen">
    <p>{{selectedCards.length}}/5 קלפים נבחרו</p>
  </div>
</nav>
