app-card {
  margin: 10px 10px;
  width: 10rem;
  /* height: min-content; */
}

#nav-buttons {
  margin: 5px 10px 5px 0px;
}

.btn {
  margin-left: 2px;
}

#bottom-nav {
  bottom: 0;
  width: 100%;
  margin-top: 15px;
}

.card-pre-reveal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.7s linear, opacity 0.7s linear;
}

.card-reveal {
  visibility: visible;
  opacity: 1;
}

