* {
  direction: rtl;
}

.card-pre-reveal {
  margin: 10px 10px;
  max-height: 85vh;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5s linear;
}

.card-reveal {
  /* visibility: visible; */
  opacity: 1;
}
